services:
  db:
    image: postgres:15-alpine
    container_name: CC3062_P1_DB
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
  backend:
    build: .
    container_name: CC3062_P1_BACKEND
    restart: always
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:8080"
    environment:
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
      - BACKEND_PORT=${BACKEND_PORT}
    depends_on:
      db:
        condition: service_healthy 

volumes:
  db_data: